<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @movement.exercise %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @movement.equipment %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movement.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @movement.link %>
</p>

<%= link_to 'Edit', edit_movement_path(@movement) %> |
<%= link_to 'Back', movements_path %>
