<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wod.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @wod.score %>
</p>

<p>
  <strong>Score set:</strong>
  <%= @wod.score_set %>
</p>

<p>
  <strong>Rep:</strong>
  <%= @wod.rep %>
</p>

<p>
  <strong>Rep:</strong>
  <%= @wod.routine %>
</p>

<p>
  <strong>Movement 1:</strong>
  <%= @wod.movements %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wod.description %>
</p>

<%= link_to 'Edit', edit_wod_path(@wod) %> |
<%= link_to 'Back', wods_path %>
