<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wod.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @wod.score %>
</p>

<p>
  <strong>Score set:</strong>
  <%= @wod.score_set %>
</p>

<p>
  <strong>Rep:</strong>
  <%= @wod.rep %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wod.description %>
</p>

<p>
  <strong>Movement 1:</strong>
  <%= @wod.movement_1 %>
</p>

<p>
  <strong>Movement 2:</strong>
  <%= @wod.movement_2 %>
</p>

<p>
  <strong>Movement 3:</strong>
  <%= @wod.movement_3 %>
</p>

<p>
  <strong>Movement 4:</strong>
  <%= @wod.movement_4 %>
</p>

<p>
  <strong>Movement 5:</strong>
  <%= @wod.movement_5 %>
</p>

<p>
  <strong>Movement 6:</strong>
  <%= @wod.movement_6 %>
</p>

<p>
  <strong>Movemtnt 7:</strong>
  <%= @wod.movemtnt_7 %>
</p>

<%= link_to 'Edit', edit_wod_path(@wod) %> |
<%= link_to 'Back', wods_path %>
